<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/">
                <i class="bi bi-grid"></i>
                <span>Inicio</span>
            </a>
        </li><!-- End Dashboard Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#orders-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>Pedidos</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="orders-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/pedidos">
                        <i class="bi bi-circle"></i><span>Todos los pedidos</span>
                    </a>
                </li>
                <li>
                    <a href="/pedidos/noprocesados">
                        <i class="bi bi-circle"></i><span>No procesados</span>
                    </a>
                </li>
                <li>
                    <a href="/pedidos/noenviados">
                        <i class="bi bi-circle"></i><span>No enviados</span>
                    </a>
                </li>
                <li>
                    <a href="/pedidos/enviados">
                        <i class="bi bi-circle"></i><span>Procesados y enviados</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#product-nav" data-bs-toggle="collapse" href="#">
                <i class="bx bxs-component"></i></i><span>Productos</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="product-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/productos">
                        <i class="bi bi-circle"></i><span>Todos los productos</span>
                    </a>
                </li>
                <li>
                    <a href="/crear/producto">
                        <i class="bi bi-circle"></i><span>Crear producto</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person"></i></i><span>Usuarios</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="users-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/usuarios">
                        <i class="bi bi-circle"></i><span>Todos los usuarios</span>
                    </a>
                </li>
                <li>
                    <a href="/registrar/usuario">
                        <i class="bi bi-circle"></i><span>Registrar usuario</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-heading">Perfil</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/perfil">
                <i class="bi bi-person"></i>
                <span>Mi perfil</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="">
                <i class="bi bi-box-arrow-right"></i>
                <span>Cerrar sesión</span>
            </a>
        </li><!-- End Contact Page Nav -->

        
        <li class="nav-heading">Soporte</li>
        
        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-question-circle"></i>
                <span>Necesitas ayuda?</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

    </ul>

</aside><!-- End Sidebar-->