<div class="main" id="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Registrar usuario</h5>
    
            <!-- No Labels Form -->
            <form class="row g-3 form-usuario" action="/registrar/usuario" method="post">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Codigo" required name="username">
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control" placeholder="Contraseña" required name="password">
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Nombre de empresa" required name="companyname">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="RIF" required name="companyrif">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Telefono" required name="companyphone">
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" placeholder="Dirección" required name="companyaddress">
                </div>
                <div class="col-md-6">
                    <label for="companyemail"></label>
                    <input type="email" class="form-control" placeholder="Correo electronico" required name="companyemail">
                </div>
                <div class="col-md-6">
                    <label for="image">Logo</label>
                    <input type="file" class="form-control inputFileUser" required name="image">
                    <input type="text" class="display-none user-img-url" name="companylogo">
                </div>
                <div class="col-md-12 p-2">
                    <h5>Productos habilitados</h5>
                    <input type="text" class="inputProducts display-none" name="products" required>
                    <div class="container-product-cu">
                        <div class="product" data-id="1">
                            <img src="https://cdn.kyev.online/images/products/1a3efed0-0bb0-4df2-95ad-3e59d9b509e2.jpg" alt=""
                                style="width:130px;" class="product-img">
                            <h5 class="product-title">Bombona 18kg</h5>
                            <h6 class="product-cod">KG2550</h6>
                        </div>
                        <div class="product" data-id="2">
                            <img src="https://cdn.kyev.online/images/products/1a3efed0-0bb0-4df2-95ad-3e59d9b509e2.jpg" alt=""
                                style="width:130px;">
                            <h5 class="product-title">Bombona 18kg</h5>
                            <h6 class="product-cod">KG2550</h6>
                        </div>
                        <div class="product" data-id="3">
                            <img src="https://cdn.kyev.online/images/products/1a3efed0-0bb0-4df2-95ad-3e59d9b509e2.jpg" alt=""
                                style="width:130px;">
                            <h5 class="product-title">Bombona 18kg</h5>
                            <h6 class="product-cod">KG2550</h6>
                        </div>
                        <div class="product" data-id="4">
                            <img src="https://cdn.kyev.online/images/products/1a3efed0-0bb0-4df2-95ad-3e59d9b509e2.jpg" alt=""
                                style="width:130px;">
                            <h5 class="product-title">Bombona 18kg</h5>
                            <h6 class="product-cod">KG2550</h6>
                        </div>
                        <div class="product" data-id="5">
                            <img src="https://cdn.kyev.online/images/products/1a3efed0-0bb0-4df2-95ad-3e59d9b509e2.jpg" alt=""
                                style="width:130px;">
                            <h5 class="product-title">Bombona 18kg</h5>
                            <h6 class="product-cod">KG2550</h6>
                        </div>
                        <div class="product" data-id="6">
                            <img src="https://cdn.kyev.online/images/products/1a3efed0-0bb0-4df2-95ad-3e59d9b509e2.jpg" alt=""
                                style="width:130px;">
                            <h5 class="product-title">Bombona 18kg</h5>
                            <h6 class="product-cod">KG2550</h6>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="/usuarios" class="btn btn-secondary">Volver</a>
                    <button type="submit" class="btn btn-primary btn-submit-user">Registrar</button>
                    <button type="reset" class="btn btn-danger">Borrar campos</button>
                </div>
            </form><!-- End No Labels Form -->
    
        </div>
    </div>
</div>